/* player */
body .pop-live-small-mode,
#right-bottom-banner,
#biliMainFooter,
body .mediainfo_mediaToolbar__uEabN .mediainfo_btnHome__ci38K,
body .reply-warp .fixed-reply-box,
body .reply-notice,
body .flip-view,
body .reply-item .bottom-line,
body .vipPaybar_container__GsBut,
div.root-reply-avatar > div > div > div,
body .reply-decorate,
body .upinfo_upInfoCard__roviy,
body .note-list .part-line,
#arc_toolbar_report > div.video-toolbar-right > div.video-tool-more.video-toolbar-right-item,
#arc_toolbar_report > div.video-toolbar-right > div.video-complaint.video-toolbar-right-item.toolbar-right-complaint,
body .upinfo-btn-panel .new-charge-btn,
div.toolbar > span:nth-child(4),
body .base-video-sections-v1 .border-bottom-line,
div.toolbar > span:nth-child(5),
body .upinfo-btn-panel .following-charge-btn,
body .ad-report:not(:empty),
body .note-operation .sanlian-box,
body .bpx-player-sending-bar .bpx-player-video-inputbar.bpx-player-checkBox-hide .bpx-player-dm-hint,
body .bb-comment .comment-send .comment-emoji .text,
#activity_vote {
    display: none  !important;
}


/*background*/
body .multi-page-v1,
body .base-video-sections-v1,
body .bscroll-vertical-scrollbar,
body .show-more-text,
body .bpx-player-block-list,
body .note-list .note-card-container .note-card,
body .numberListItem_number_list_item__wszA4:hover,
body .bpx-player-block-list-line,
body .resizable-component .editor-innter,
body .numberListItem_number_list_item__wszA4.numberListItem_select__ar1X5,
body .multi-page-v1 .cur-list {
    background: none !important;
}
body .bpx-player-auxiliary .bpx-player-dm-wrap .bscroll-vertical-scrollbar.mousedown,
body .bpx-player-auxiliary .bpx-player-dm-wrap:hover .bscroll-vertical-scrollbar,
body .bpx-player-auxiliary .bpx-player-bscrollbar .bscroll-vertical-scrollbar.mousedown, .bpx-player-auxiliary .bpx-player-bscrollbar:hover .bscroll-vertical-scrollbar {
    background: none  !important;
}
body .bpx-player-auxiliary .bpx-player-adv-danmaku, .bpx-player-auxiliary .bpx-player-setting,
body .bpx-player-auxiliary .bpx-player-dm-wrap,
body .bpx-player-auxiliary .bpx-player-dm,
body .bpx-player-auxiliary .bpx-player-dm-load-status,
body .search-input-wrap .search-panel,
body .bui-collapse .bui-collapse-header,
#app {
    background: var(--primary-black) !important;
}

body .base-video-sections-v1 .video-sections-head_second-line .second-line_right,
body .bpx-player-auxiliary .bpx-player-dm-btn-history,
body .bpx-docker-minor,
body .user-card,
#i_cecream,
body .note-pc .note-container,
body .note-detail,
body .bili-video-card__wrap,
body .base-video-sections-v1,
body .bui-collapse .bui-collapse-header,
body .video-page-card-small .card-box .pic-box,
#page-index .col-1,
body .bpx-player-auxiliary .bpx-player-dm-function {
    background: var(--primary-black)  !important;
}

body .range-box:hover,
#v_desc,
body .SectionSelector_SectionSelector__WS4H3 .SectionSelector_selectorDropdown__49uby .SectionSelector_dropdownItem__sHfKw:hover,
body .recommend-list-v1 .rec-footer,
body .user-card .card-content .card-btn-warp .card-attention-btn,
body .numberListItem_number_list_item__wszA4,
body .video-container-v1 .danmaku-box .danmaku-wrap,
body .reply-operation .operation-list .operation-option:hover,
body .navTools_navMenu___0Y9U .navTools_item__x8ZYs,
body .note-list .list-note-operation,
body .emoji-panel .emoji-tab .emoji-type.current-type,
body .emoji-panel .emoji-tab .emoji-type:hover,
body .emoji-panel .emoji-content .emoji-info:hover,
body .note-pc .note-container .note-header .note-operation.detail,
body .note-pc .note-container .note-header .close-note:hover,
body .recommend-list-v1 .split-line,
body .bui-button .bui-area.bui-button-gray, .bui-button .bui-area.bui-button-large, .bui-button .bui-area.bui-button-small,
body .note-pc .note-container .note-header .back-note-list:hover,
body .search-input-wrap .suggest-item.active, .search-input-wrap .suggest-item:hover, .search-input-wrap .suggest-item:focus,
body .van-popover.van-followed .follow_dropdown li:hover,
body .base-video-sections-v1 .video-section-list .video-episode-card__info:hover,
body .multi-page-v1 .cur-list .list-box li:hover {
    background: var(--additive-background) !important;
}
body .note-content .note-text-container .note-prefix,
body .at-panel .at-list-container .at-list-ground .at-user-list .at-user-item:hover,
body .upinfo-btn-panel .follow-btn.following,
body .bpx-player-block-list-line:hover,
body .ql-toolbar,
body .note-pc .note-container .note-header .jump-note-package:hover,
body .bpx-player-auxiliary .bpx-player-bscrollbar .bscroll-indicator,
body .bpx-player-auxiliary .bpx-player-dm-wrap .bscroll-indicator,
body .reply-content-container .reply-content .note-prefix,
body .vui_button--link,
body .base-video-sections-v1 .video-section-list .video-episode-card__info-playing,
body .base-video-sections-v1 .video-section-list .video-episode-card__info-playing,
body .vui_button,
body .video-tag-container .tag-panel .tag-link,
body .play-all-channel,
body .section .more,
body .reply-item .root-reply-container .content-warp .root-reply .reply-tag-list .reply-tag-item,
body .bili-header .suggest-item.active, .bili-header .suggest-item:hover, .bili-header .suggest-item:focus,
body .base-video-sections-v1 .border-bottom-line,
body .base-video-sections-v1 .border-bottom-line,
body .video-tag-container .tag-panel .tag .show-more-btn,
body .upinfo-btn-panel .follow-btn.following, .video-tool-more-popover, .tag-more, .s_tag-v1 .tag-wrap .tag-area > li .tag-link {
    background: var(--additive-background)  !important;
}
body .note-list .list-note-operation:hover,
body .bili-dyn-list-notification:hover,
body .vui_button:hover, .vui_button:active, .vui_button.vui_button--active, .vui_button.vui_button--active:hover,
body .vui_button--active-blue:active, .vui_button--active-blue.vui_button--active, .vui_button--active-blue.vui_button--active:hover,
body .vui_button--link:hover, .vui_button--link:active, .vui_button--link.vui_button--active, .vui_button--link.vui_button--active:hover,
body .vui_button:focus,
body .note-pc .note-container .note-header .note-operation.detail:hover,
body .bui-button .bui-area.bui-button-gray:hover, .bui-button .bui-area.bui-button-large:hover, .bui-button .bui-area.bui-button-small:hover,
body .navTools_navMenu___0Y9U .navTools_item__x8ZYs:hover,
body .user-card .card-content .card-btn-warp .card-attention-btn:hover,
body .recommend-list-v1 .rec-footer:hover,
body .upinfo-btn-panel .follow-btn.following:hover, .video-tool-more-popover:hover, .tag-more:hover, .s_tag-v1 .tag-wrap .tag-area > li .tag-link:hover {
    background: var(--add-btn-hover)  !important;
}
body .vui_button--link:focus,
body .bui-button .bui-area.bui-button-gray:active,
body .bui-button .bui-area.bui-button-large:active,
body .bui-button .bui-area.bui-button-small:active,
body .note-list .list-note-operation:active,
body .tag-more:active,
body .note-pc .note-container .note-header .note-operation.detail:active,
body .bili-dyn-list-notification:active,
body .navTools_navMenu___0Y9U .navTools_item__x8ZYs:active,
body .user-card .card-content .card-btn-warp .card-attention-btn:active,
body .range-box:active,
body .recommend-list-v1 .rec-footer:active,
body .s_tag-v1 .tag-wrap .tag-area > li .tag-link:active {
    background: var(--add-btn-click)  !important;
}

body .upinfo-btn-panel .follow-btn.not-follow {
    background: var(--active-title) !important;
}
body .note-up .up-desc-container .desc-top .attention-btn-container:hover,
body .vui_tabs--navbar .vui_tabs--nav-slider,
body .upinfo-btn-panel .follow-btn.not-follow:hover {
    background: var(--filled-hover) !important;
}
body .video-sections-head,
body .note-pc .note-container .note-header,
body .base-video-sections-v1,
body .bpx-player-auxiliary .bpx-player-collapse .bui-collapse-body,
body .bui-collapse .bui-collapse-header,
body .multi-page-v1 .head-con {
    background: var(--brand-background-primary)  !important;
}
body .reply-operation .operation-list,
body .van-popover.van-followed,
body .bui-dropdown .bui-dropdown-items,
body .SectionSelector_SectionSelector__WS4H3 .SectionSelector_selectorDropdown__49uby {
    background: var(--menu-background) !important;
}
body .base-video-sections-v1 .video-section-list .video-episode-card__info-playing,
body .multi-page-v1 .cur-list .list-box li.on {
    background: var(--yt-lightsource-section2-color) !important;
}
body .SectionSelector_SectionSelector__WS4H3 .SectionSelector_expand__Oh9Lt {
    background: linear-gradient(270deg, var(--primary-black) 46.21%, var(--primary-black)) !important;
}

body .mediainfo_mediaRight__jv5hq .mediainfo_media_desc_section__bOFBw .mediainfo_display_area__CEKfP .mediainfo_ellipsis__xCKNd {
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), var(--primary-black) 20%, var(--primary-black)) !important;
}
body .search-input-container .search-input-wrap,
body .search-input-container .search-input-wrap,
body .bpx-player-sending-bar .bpx-player-video-inputbar {
    background: var(--searchbox-background) !important;
    border: 1px solid var(--searchbox-border-color) !important;
}
body .note-up .up-desc-container .desc-top .attention-btn-container {
    background: white !important;
}

body .bpx-player-sending-bar,
body .mediainfo_mediaRight__jv5hq .mediainfo_media_desc__F5lLq i,
body .main-container,
body .b-img,
body .v-img,
body .bili-video-card .bili-video-card__image--wrap,
body .bui-button .bui-area.bui-button-blue, .bui-button .bui-area.bui-button-gray3:hover,
body .bpx-player-auxiliary .bpx-player-dm-management,
body .bpx-player-auxiliary .bpx-player-dm-wrap-child,
body .bili-comment.browser-pc {
    background-color: var(--primary-black) !important;
}

body .eplist_ep_list_wrapper__PzLHa,
body .sub-reply-item.show-reply,
body .reply-box .box-normal .reply-box-warp .reply-box-textarea, .bili-dyn-list-loading,
body .reply-box .box-normal .reply-box-warp .reply-box-textarea.focus, .reply-box .box-normal .reply-box-warp .reply-box-textarea:hover {
    background-color: var(--primary-black)  !important;
}
body .bpx-player-date-picker,
body .at-panel,
body .follow_followOptions__QR9Ym .follow_optionsList__gM6M0,
body .emoji-panel .emoji-title,
body .emoji-panel .emoji-tab,
body .play-all-channel:hover,
body .vui_tabs--navbar .vui_tabs--nav-item .vui_tabs--nav-num,
body .emoji-panel .emoji-content {
    background-color: var(--menu-background)  !important;
}
body .bui-button .bui-area.bui-button-blue:hover,
body .follow_btnFollow__OFY3n.follow_followed__smKNK,
body .reply-item .root-reply-container .content-warp .root-reply .reply-tag-list .reply-tag-item,
body .follow_followOptions__QR9Ym .follow_optionsList__gM6M0 li:hover,
body .reply-item .root-reply-container .content-warp .root-reply .reply-tag-list .reply-tag-item {
    background-color: var(--additive-background)  !important;
}


/*color*/
body .user-card .card-content .card-btn-warp .card-message-btn,
a,
body .video-page-card-small .card-box .info .upname a,
body .video-page-card-small .card-box .info .upname a svg,
body .video-page-card-small .card-box .info .playinfo,
body .note-up .up-desc-container .desc-bottom,
body,
body .bpx-player-block-list-function .bpx-player-block-list-delete:hover, .bpx-player-block-list-function .bpx-player-block-list-state:hover, .bpx-player-block-list-function .bpx-player-block-list-sync:hover,
body .reply-header .reply-navigation .nav-bar .nav-sort,
body .bpx-player-auxiliary .bpx-player-dm-btn-history:hover,
body .note-content .note-text-container .note-prefix,
body .video-page-special-card-small .card-box .info .desc,
body .bui-tabs .bui-tabs-header .bui-tabs-header-item,
body .vui_tabs--navbar .vui_tabs--nav-item .vui_tabs--nav-text,
body .base-video-sections-v1 .video-section-list .video-episode-card__info-duration,
body .SectionSelector_SectionSelector__WS4H3 .SectionSelector_sectionItem__EGNpc {
    color: var(--idle-title) !important;
}
body .video-page-operator-card-small .card-box .info .title,
body .at-panel .at-list-container .at-list-ground .at-user-list .at-user-item .user-info .user-fan,
body .video-tool-more-popover .video-tool-more-dropdown .dropdown-item,
body .video-tool-more-popover .video-tool-more-dropdown .dropdown-item:hover {
    color: var(--idle-title)  !important;
}
body .reply-operation .operation-list .operation-option:hover .option-title,
body .reply-operation .operation-list,
body .van-popover.van-followed .follow_dropdown li,
body .van-popover.van-followed .follow_dropdown li:hover,
body .video-toolbar-left-item,
body .video-page-special-card-small .card-box .info .title,
body .SectionSelector_SectionSelector__WS4H3 .SectionSelector_sectionItem__EGNpc:hover,
body .SectionSelector_SectionSelector__WS4H3 .SectionSelector_sectionItem__EGNpc.SectionSelector_active__ySEdW,
body .recommend-list-v1 .rec-footer,
body .multi-page-v1 .head-con .head-left .range-box i,
body .note-content .note-text-container .note-text,
body .multi-page-v1 .head-con .head-left .range-box i:hover,
body .video-page-card-small .card-box .info .title,
body .note-up .up-desc-container .desc-top .up-name,
body .bui-collapse .bui-collapse-header,
body .reply-header .reply-navigation .nav-bar .nav-sort.time .time-sort,
body .bpx-player-block-list-function .bpx-player-block-list-delete, .bpx-player-block-list-function .bpx-player-block-list-state, .bpx-player-block-list-function .bpx-player-block-list-sync,
body .bpx-player-date-picker-header,
body .ql-container,
body .reply-header .reply-navigation .nav-bar .nav-sort.hot .hot-sort,
body .bpx-player-date-picker-week .bpx-player-date-picker-day,
body .bpx-player-block-list-function,
body .bpx-player-auxiliary .bpx-player-dm-btn-history,
body .bui-tabs .bui-tabs-header .bui-tabs-header-item.bui-tabs-header-item-active,
body .bpx-player-block-top .bpx-player-block-label,
body .at-panel .panel-title,
body .at-panel .at-list-container .at-list-ground .ground-name,
body .at-panel .at-list-container .at-list-ground .at-user-list .at-user-item .user-info .user-name,
body .emoji-panel,
body .reply-header .reply-navigation .nav-bar .nav-sort .hot-sort:hover,
body .bpx-player-block-add-input,
body .follow_followOptions__QR9Ym,
body .follow_followOptions__QR9Ym .follow_optionsList__gM6M0 li.follow_disabled___fJUl,
body .bpx-player-date-picker-day,
body .bpx-player-block-list-line,
body .bui-button .bui-area.bui-button-gray, .bui-button .bui-area.bui-button-large, .bui-button .bui-area.bui-button-small,
body .note-pc .note-container .note-header .note-title,
body .reply-header .reply-navigation .nav-bar .nav-sort .time-sort:hover,
body .video-note.video-toolbar-right-item,
body .bpx-player-sending-bar .bpx-player-video-inputbar .bpx-player-dm-input,
body .ql-snow.ql-toolbar button, .ql-snow .ql-toolbar button,
body .reply-content-container .reply-content .note-prefix,
body .vui_tabs--navbar .vui_tabs--nav-item .vui_tabs--nav-num,
body .i_card_title>a:hover,
body .search-input-container .search-input-wrap .search-input-el,
body .vui_tabs--navbar .vui_tabs--nav-item:hover .vui_tabs--nav-text, .vui_tabs--navbar .vui_tabs--nav-item-active .vui_tabs--nav-text,
body .multi-page-v1 .cur-list .list-box li .link-content {
    color: var(--active-title) !important;
}
body .sub-reply-list .view-more .view-more-pagination,
body .reply-item .root-reply-container .content-warp .user-info .user-name,
body .sub-reply-item .sub-user-info .sub-user-name,
body .reply-content-container .reply-content, .bpx-player-sending-bar .bpx-player-video-info, .video-info-v1 .video-title,
div.sub-reply-item > span,
body .video-desc-v1 .desc-info,
body .reply-item .root-reply-container .content-warp .root-reply .reply-tag-list .reply-tag-item,
body .reply-box .box-normal .reply-box-warp .reply-box-textarea,
body .multi-page-v1 .head-con .head-left h3,
body .up-detail .up-detail-top .up-name,
body .reply-item .content-warp .root-reply .reply-content,
body .bpx-player-auxiliary .bpx-player-dm-container .dm-info-row,
body .SectionSelector_SectionSelector__WS4H3 .SectionSelector_selectorDropdown__49uby .SectionSelector_dropdownItem__sHfKw,
body .eplist_ep_list_wrapper__PzLHa .eplist_list_title__JwP3d .eplist_left_wrap__tJfQL h4,
body .user-card .card-content .card-btn-warp .card-message-btn:hover,
body .user-card .card-content .card-user-info .card-user-name,
body .bpx-player-auxiliary .bpx-player-dm-container .dm-info-row .dm-info-dm,
body .mediainfo_mediaRight__jv5hq .mediainfo_media_desc_section__bOFBw,
body .navTools_navMenu___0Y9U .navTools_item__x8ZYs,
body .mediainfo_mediaRight__jv5hq .mediainfo_media_desc__F5lLq,
body .base-video-sections-v1 .video-sections-head_first-line .first-line-left .first-line-title:hover,
body .base-video-sections-v1 .video-sections-head_first-line .first-line-left .first-line-title,
body .toolbar,
body .base-video-sections-v1 .video-sections-head_first-line .first-line-left .first-line-title,
body .RecommendItem_wrap__pJmXL .RecommendItem_right_wrap__rgzw_ .RecommendItem_title__zyQj0,
body .RecommendItem_wrap__pJmXL .RecommendItem_right_wrap__rgzw_ .RecommendItem_title__zyQj0:hover,
body .recommend_wrap__pgu8c .recommend_title__miCR4,
body .numberList_wrapper__xihGs a,
body .vui_button:hover, .vui_button:active, .vui_button.vui_button--active, .vui_button.vui_button--active:hover,
body .numberListItem_title__ukPv0,.keyword,
body .vui_button--link:hover, .vui_button--link:active, .vui_button--link.vui_button--active, .vui_button--link.vui_button--active:hover,
body .vui_button--link, .vui_button--link:focus,
body .bili-video-card .bili-video-card__info--tit:hover,
body .bui-dropdown .bui-dropdown-items .bui-dropdown-item,
body .vui_button, .vui_button:focus,
body .bili-video-card .bili-video-card__info--tit,
body .bb-comment .comment-send .comment-emoji:hover, .comment-bilibili-fold .comment-send .comment-emoji:hover, .bb-comment .comment-send-lite .comment-emoji:hover, .comment-bilibili-fold .comment-send-lite .comment-emoji:hover, .bb-comment .comment-send .comment-emoji.open, .comment-bilibili-fold .comment-send .comment-emoji.open, .bb-comment .comment-send-lite .comment-emoji.open, .comment-bilibili-fold .comment-send-lite .comment-emoji.open,
body .note-pc .note-container .note-header .note-operation.detail,
body .note-list .note-card-container .note-card .user-info .user-name,
body .text1,
body .video-info-container .video-title,
body .video-tag-container .tag-panel .tag-link,
body .reply-item .root-reply-container .content-warp .root-reply .reply-tag-list .reply-tag-item,
body .video-desc-container .basic-desc-info,
body .vui_tabs--navbar .vui_tabs--nav-item:hover .vui_tabs--nav-text, .vui_tabs--navbar .vui_tabs--nav-item-active .vui_tabs--nav-text,
body .reply-item .root-reply-container .content-warp .root-reply .reply-tag-list .reply-tag-item,
body .ql-snow .ql-picker,
body .section-title,
body .user-card-m-exp .user-info-wrapper .info .social a,
body .user-card-m-exp .user-info-wrapper .info p,
body .play-all-channel:hover,
body .section .more:hover,
#page-index .channel.guest .channel-item .channel-title .channel-name,
body .note-list .note-card-container .note-card .note-content,
body .base-video-sections-v1 .video-section-list .video-episode-card__info-title,
body .base-video-sections-v1 .video-sections-head_first-line .first-line-left .first-line-title,
body .mediainfo_mediaRight__jv5hq .mediainfo_mediaTitle__lu7u_,
body .mediainfo_mediaRight__jv5hq .mediainfo_mediaDesc__0JJwL,
body .reply-header .reply-navigation .nav-bar .nav-title .nav-title-text,
body .upinfo-btn-panel .follow-btn.following, .video-tool-more-popover, .tag-more, .s_tag-v1 .tag-wrap .tag-area > li .tag-link {
    color: var(--active-title)  !important;
}
body .note-up .up-desc-container .desc-top .attention-btn-container,
body .upinfo-btn-panel .follow-btn.not-follow {
    color: var(--dark-text) !important;
}

/*border*/
body .note-pc .note-container .note-header .note-operation.detail,
body .navTools_navMenu___0Y9U .navTools_item__x8ZYs,
body .at-panel,
body .emoji-panel,
body .bui-dropdown .bui-dropdown-items,
body .bb-comment .comment-header, .comment-bilibili-fold .comment-header,
body .bpx-player-date-picker-day,
body .video-toolbar-container,
body .s_tag-v1,
body .vui_button:hover, .vui_button:active, .vui_button.vui_button--active, .vui_button.vui_button--active:hover,
body .bb-comment .comment-send .comment-emoji, .comment-bilibili-fold .comment-send .comment-emoji, .bb-comment .comment-send-lite .comment-emoji, .comment-bilibili-fold .comment-send-lite .comment-emoji,
body .vui_button, .vui_button:focus,
body .vui_button.vui_button--active,
body .van-popover.van-followed,
#page-index .col-1,
body .section .more:hover,
body .section,
body .section .more,
body .play-all-channel,
body .play-all-channel:hover,
#page-index .channel .channel-item,
body .card-loaded,
body .SectionSelector_SectionSelector__WS4H3 .SectionSelector_selectorDropdown__49uby {
    border: none  !important;
}
body .bpx-player-sending-bar .bpx-player-video-inputbar,
body .follow_followOptions__QR9Ym .follow_optionsList__gM6M0,
body .multi-page-v1 {
    border: 1px solid var(--add-btn-hover) !important;
}
body .recommend_wrap__pgu8c,
body .search-layout .search-header .search-line,
body .mediainfo_mediaInfo__Cpow4 {
    border-top: 1px solid var(--outline) !important;
}

body .bpx-player-auxiliary .bpx-player-collapse .bui-collapse-body {
    border: 1px solid var(--add-btn-hover) !important;
    border-top: none !important;
}
body .bpx-player-auxiliary .bui-collapse-header {
    border: 1px solid var(--add-btn-hover) !important;
    border-bottom: none !important;
}
body .user-card,
body .bpx-player-block-add-input,
body .note-list .note-card-container .note-card,
body .note-pc .note-container,
body .bpx-player-date-picker,
body .base-video-sections-v1,
body .user-card .card-content .card-btn-warp .card-message-btn:hover,
body .user-card .card-content .card-btn-warp .card-message-btn,
body .numberListItem_number_list_item__wszA4:hover,
body .numberListItem_number_list_item__wszA4.numberListItem_select__ar1X5 {
    border: 1px solid var(--outline) !important;
}
body .reply-box .box-expand .at-btn,
body .reply-box .box-expand .reply-box-emoji .emoji-btn,
body .reply-box .box-normal .reply-box-warp .reply-box-textarea,
body .reply-box .box-normal .reply-box-warp .reply-box-textarea.focus, .reply-box .box-normal .reply-box-warp .reply-box-textarea:hover {
    border-color: var(--outline)  !important;
}
body .video-toolbar-container,
body .video-toolbar-container,
body .video-tag-container,
body .video-tag-container,
body .bpx-player-date-picker-header {
    border-bottom: 1px solid var(--outline)  !important;
}

/*svg*/
body .s_tag-v1 .tag-wrap .tag-area > li .tag-link.topic-link, .s_tag-v1 .tag-wrap .tag-area > li .tag-link.bgm-link,
body .s_tag-v1 .tag-wrap .tag-more:hover,
body .toolbar > span,
body .note-container svg path,
body .close-note svg,
body .bpx-player-date-picker-btn,
body .s_tag-v1 .tag-wrap .tag-more,
body .SectionSelector_SectionSelector__WS4H3 .SectionSelector_expand__Oh9Lt svg,
body .s_tag-v1 .tag-wrap .tag-area > li .tag-link.topic-link:hover, .s_tag-v1 .tag-wrap .tag-area > li .tag-link.bgm-link:hover {
    fill: var(--active-title) !important;
}
body .bpx-player-date-picker-btn.bpx-player-disabled {
    fill: var(--idle-title) !important;
}
body .note-container .attention-btn-container svg path {
    fill: var(--dark-text) !important;
}
body .ql-snow .ql-stroke,
body .SectionSelector_SectionSelector__WS4H3 .SectionSelector_expand__Oh9Lt svg {
    stroke: var(--active-title) !important;
}




body .mediainfo_mediaRight__jv5hq .mediainfo_media_desc_section__bOFBw .mediainfo_display_area__CEKfP .mediainfo_ellipsis__xCKNd,
body .mediainfo_mediaRight__jv5hq .mediainfo_media_desc__F5lLq i {
    pointer-events: auto !important;
}

body .mediainfo_mediaRight__jv5hq .mediainfo_media_desc__F5lLq,
body .mediainfo_mediaRight__jv5hq .mediainfo_media_desc_section__bOFBw {
    pointer-events: none !important;
}

body .multi-page-v1 .head-con {
    border-radius: 9px 9px 0 0 !important;
    height: 50px !important;
    padding: 5px 16px 0 !important;
}

body .range-box {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
    cursor: pointer !important;
    text-align: center !important;
    margin-left: 10px !important;
    transition: all 0.2s !important;
}

body .multi-page-v1 .head-con .head-left .range-box i {
    margin: 18% 0 0 !important;
}
body .note-list .list-note-operation {
    margin-bottom: 9px
}
#v_desc {
    padding: 9px !important;
    border-radius: 9px !important;
}
body .note-detail {
    border-radius: 8px !important;
}
body .note-pc .note-container .note-header {
    border-radius: 8px 8px 0 0 !important;
}
body .video-sections-head,
body .bpx-player-auxiliary .bui-collapse-header,
body .bpx-player-auxiliary .bpx-player-dm-btn-history {
    border-radius: 6px 6px 0 0 !important;
}
body .bpx-player-auxiliary .bpx-player-collapse .bui-collapse-body {
    border-radius: 0 0 6px 6px !important;
}
body .video-sections-head {
    padding: 18px 0 0 0 !important;
}
body .base-video-sections-v1 {
    padding-top: 0 !important;
}
body .bb-comment .comment-send .comment-emoji, .comment-bilibili-fold .comment-send .comment-emoji, .bb-comment .comment-send-lite .comment-emoji, .comment-bilibili-fold .comment-send-lite .comment-emoji,
#bilibili-player-placeholder,
body .card-loaded,
body .i-pin-c,
body .bpx-player-container {
    box-shadow: none !important;
}
body .video-toolbar-container .video-toolbar-right {
    user-select: auto !important;
}
